
body {
    
    background-color: rgb(255, 255, 255);

    display: grid;
    row-gap: 2em; 

    /* margin: 0; */

    font-family: Arial, Helvetica, sans-serif;
}

/* ------------------------------------------- */
/* Info Container 
/* ------------------------------------------- */

.info-container {

    padding: 1.5em 0em;

    display: grid;
    row-gap: 1.3em;

    border-radius: .4em;

    border: 1px solid rgb(199, 199, 199);
}

.red-header,
.green-header { font-weight: bold; }

.red-header { color: rgb(169, 9, 9); }
.green-header { color: rgb(53, 137, 7); }
    







/* ------------------------------------------- */
/* Custom Audio Player 
/* ------------------------------------------- */

/* dont work !!! */
.audio-player {

    background-color: green;
}



