
body {
    
    background-color: rgb(255, 255, 255);

    display: grid;
    row-gap: 0em; 

    /* margin: 0; */

    font-family: Arial, Helvetica, sans-serif;
}

/* --------------------------------------------------- */
/* Default - IMG Icon Sizes 
/* --------------------------------------------------- */
.img-icon-very-small { height: .6em; }
.img-icon-small { height: .8em; }
.img-icon-medium { height: 1em; }
.img-icon-big { height: 1.1em; }
.img-icon-very-big { height: 1.5em; }



/* ------------------------------------------- */
/* Info Container 
/* ------------------------------------------- */

.info-container {

    padding: 1.5em 0em;

    display: grid;
    row-gap: 1.3em;

    border-radius: .4em;

    border: 1px solid rgb(199, 199, 199);
}

.red-header,
.green-header { font-weight: bold; }

.red-header { color: rgb(169, 9, 9); }
.green-header { color: rgb(53, 137, 7); }
    


/* ----------------------------------------------------------------- */
/* Audio Handling Container
/* ----------------------------------------------------------------- */

.audio-handling-container {

    font-size: .9em;
   
    padding: .6em .6em 0em .6em;

    display:flex;
    align-items:center;
    justify-content: space-between;

    border-radius: .3em .3em 0em 0em;

    background-color: #f1f3f4;
   
}

/* ----------------------------------------------------------------- */
/* Audio Prev & Next Container
/* ----------------------------------------------------------------- */

.audio-prev-next-container {

    display: flex;
    align-items: center;
    column-gap: .3em;

}

.info-number-of-audio-files-container {

    width: 3.5em;
    height: 42px;

    padding: 0em .3em;

    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .1em;

    /* font-weight: bold; */
    border-radius: .3em;


    color:#787878;
    background-color:#E6E6E6;
}

.info-number-of-audio-files-container > div:nth-of-type(1) {

    
}

.info-number-of-audio-files-container > div:nth-of-type(3) {

    color:rgb(97, 97, 97);
    font-weight: bold;
}

.btn-prev-next {

    background-color:#464646;

    border: 0;

    height: 42px;
    width: 42px;
    /* padding: 0em .8em; */

    display: flex;
    align-items: center;
    justify-content: center;

    background-color:#E6E6E6;

    border-radius: .3em;

    cursor: pointer;

    transition: all .4s ease;
}

.btn-prev-next:hover {

    background-color: rgb(167, 167, 167);
}


.audio-prev-next-container > button:nth-of-type(1) > img {

    transform: rotate(180deg);

}

.btn-prev-next > img {

    height: .8em;
}





/* ----------------------------------------------------------------- */
/* Audio General Sets Container
/* ----------------------------------------------------------------- */

.audio-general-sets-container {


    display: flex;
    align-items: center;
    column-gap: .3em;

}

.audio-general-sets-container > input { display: none; }

.audio-general-sets-container > input:checked + label {

    background-color: #FF8E8E;

}

/* ----------------------------------------------------------------- */
/* Label - General Audio Set 
/* ----------------------------------------------------------------- */

.lbl-general-audio-set {

    height: 2.5em;
    width: 1em;

    padding: 0em .8em;

    display:flex;
    align-items:center;
    justify-content: center;
    column-gap: .6em;

    border-radius: .3em;

    color:#787878;
    background-color:#E6E6E6;

    transition: all .4s ease;

    cursor: pointer;
}

.lbl-general-audio-set:hover {

    background-color: rgb(167, 167, 167);
    color:rgb(226, 226, 226);

}


/* Mobile First */
.lbl-general-audio-set > div:nth-of-type(1) {

    display: none;
}

.shiggy-container {

    padding: 3em .8em 0em .8em;

    display: flex;
    align-items: center;
    justify-content: center;
}

.shiggy-container > img {

    height: 22em;

    border-radius: 2.6em;
}


/* ---------------------------------------------------------- */
/* Responsive 
/* ---------------------------------------------------------- */
@media (min-width: 352px) {

    /* ----------------------------------------------------- */
    /* Audio General Sets Container 
    /* ----------------------------------------------------- */

    .lbl-general-audio-set { width: 2em;  }

}

@media (min-width: 542px) {


    /* ----------------------------------------------------- */
    /* Audio General Sets Container 
    /* ----------------------------------------------------- */

    .lbl-general-audio-set { width: 6em;  }

    .lbl-general-audio-set > div:nth-of-type(1) { display: block; }

        
    
}

